fastapi
uvicorn
pydantic
pytest
requests
sqlalchemy
pandas
pydantic-settings
google-genai
openai
openpyxl
slowapi
httpx
snowflake-connector-python
groq
tenacity
edge-tts
pydantic-settings
numpy
redis
